.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px 5px;
    width: calc(100% / 3 - 10px);
    //min-width: calc(100% / 3 - 10px);
    background-color: #8bd3f72d;
    min-height: 350px;
}

.content {
    padding: 15px 15px;

    * {
        margin: 5px 0;
    }
}

.icon {
    font-size: 30px;
    display: flex; 
    margin-bottom: 20px;

    * {
        display: flex;
        margin: 0;
    }
}

.list {
    flex-wrap: wrap;
    padding: 0 15px;
    list-style: none;
    display: flex;
    font-size: 14px;
    opacity: 0.7;
    margin-bottom: 25px;
    
    li {
        margin-right: 5px;
        min-width: calc(100% / 4 - 15);
    }
}

.external {
    align-content: flex-end;
    justify-content: flex-end;
    width: 100%;

    :last-child {
        margin-left: 10px;
    }

    * {
        color: white;
    }
}

@media only screen and (max-width: 1200px) {
    .container {
        width: calc(100% / 2 - 10px);
    }
}
