.intro {
    font-size: 1.4rem;
    font-weight: 400;
    margin: 10px 0;
    padding: 0;

}

.name {
    font-size: 4rem;
    margin: 10px 0;
    padding: 0;
    font-weight: 700;
    color: #8bd3f7;
}

.subtitle {
    font-size: 1.7rem;
    margin: 10px 0;
    font-weight: 400;
}

.blurb {
    font-size: 1.1rem;
}

.icon {
    font-family: 'Material Icons'
}

.container {
    font-family: 'Arvo', sans-serif;
    padding-bottom: 150px;
    display: flex;
    justify-content: space-between;
}

.content {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.avatarContainer {
    width: 35%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    img {
        max-width: 100%;
        max-height: 100%;
        margin: 10px;
        border-radius: 100px;
    }
}

@media only screen and (max-width: 48em) {
    .container {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;

        .content,
        .avatarContainer {
            width: 80%;
        }

        .content {
            h5, h3 {
                font-size: 1.2rem;
            }
            h1 {
                font-size: 3rem;
            }
        }
        .avatarContainer {
            justify-content: center;
            margin-bottom: 20px;
        }
    }
}